/* style.css*/
body {
    background-color: rgb(8, 8, 65);
    font-weight: 200;
    font-family: 'Monaco', 'Courier New', Courier, monospace;
    font-size: medium;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(255, 249, 75);
    overflow: hidden;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 14px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    display: block;
}



#play {
    background-color: rgb(8, 8, 65);
    color: rgb(8, 8, 65);
    border: none;
    padding: 7px 12px;
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 9px;
    cursor: pointer;
    border-radius: 5px;
}

#play:hover {
    background-color: black;
    color: beige;
}

nav ul li a:hover {
    background-color: #575757;
}

h1 {
    color: white;
    position: relative;
    z-index: 1001; 
    text-align: center;
    padding-left: 10px;
}

audio {
    padding-top: 60px;
}

h1#OurTeamhead {
    color: white;
    padding-top: 70px;
    padding-left: 10px;
    text-align: center;
}

p#Team {
    color: white;
    padding-left: 10px;
    text-align: center;
}

ul#team {
    color: white;
    padding-left: 10px;
    text-align: center;
}

p#Teamblurb {
    color: white;
    padding-left: 10px;
    text-align: center;
}

p#index_blurb {
    color: white;
    text-align: center;
}

ul#index_pc {
    color: white;
    text-align: center;
}

p#Robot_intro {
    color: white;
    text-align: center;
}

h2#Attachments {
    color: white;
    text-align: center;
}

p#Attachment_blurb {
    color: white;
    text-align: center;
}

ul#at_list {
    color: white;   
    text-align: center;
}

button#Donations {
    background-color: rgb(101, 233, 233);
    font-family:"Monaco", "Courier New", Courier, monospace;
    padding: 14px 24px;
    font-size: 20px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-radius: 5px;
}

button#Donations:hover {
    background-color: rgb(151, 151, 212);
}

h2#Donate_header {
    color: white;
    text-align: center;
}

