body {
    background-color: beige;
    font-weight: 200;
    font-family: 'Monaco', 'Courier New', Courier, monospace;
    font-size: medium;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 14px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#play {
    background-color: beige;
    color: beige;
    border: none;
    padding: 7px 12px;
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 9px;
    cursor: pointer;
    border-radius: 5px;
}

#play:hover {
    background-color: black;
    color: beige;
}

nav ul li a:hover {
    background-color: #575757;
}

h1 {
    position: relative;
    z-index: 1001; 
    text-align: center;
    padding-left: 10px;
}

audio {
    padding-top: 60px;
}

h1#OurTeamhead {
    padding-top: 70px;
    padding-left: 10px;
    text-align: center;
}

p#Team {
    padding-left: 10px;
    text-align: center;
}

ul#team {
    padding-left: 10px;
    text-align: center;
}

p#Teamblurb {
    padding-left: 10px;
    text-align: center;
}
